---
layout: default
---

<div id="player">
  <section>
    <img alt="Artwork" height="200" loading="lazy" src="https://podcast.npo.nl/data/thumb/top-2000-a-gogo.300.e7b25acb463c99ac344d1d4b51945b5f.jpg" width="200" />
    <h1>
      {{ episode.title }}
    </h1>
    <p role="doc-subtitle">Seizoen {{ episode.season.number }} aflevering {{ episode.number }}</p>

    <p>{{ episode.description }}</p>

    {% include ../components/player.liquid audioUri: episode.mediaUri %}
  </section>

  {% if episode.relatedMedia.length > 0 %}
    <aside>
      <h2>Gerelateerde content</h2>
      <ol>
        {% for media in episode.relatedMedia %}
          <li>
            {% if media.type == 'track' %}
              <iframe src="https://open.spotify.com/embed/{{ media.type }}/{{ media.id }}" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media" loading="lazy"></iframe>
            {% else %}
              <iframe src="https://open.spotify.com/embed/{{ media.type }}/{{ media.id }}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" loading="lazy"></iframe>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </aside>
  {% endif %}
</div>
